<header class="flex--style" id="header">
    <img class="header__logo" src="../img/site_assets/Logo.png" alt="logo">
    <div class="header__button--menu">
        <div class="button--inner"></div>
        <img class="button--open" src="../img/site_assets/openheader.svg" alt="openheader">
    </div>
    <div class="header__menu flex--style">
        <nav>
            <ul class="font__style--menu">
                <li id="projectButton"><span>Projects</span></li>
                <li id="pricingButton"><span>Pricing</span></li>
                <li id="featuresButton"><span>Pricing</span></li>
                <li id="FAQButton"><span>FAQ</span></li>
                <li class="turnOn">
                    <p>Let's talk</p>
                    <!-- <p>Let's talk</p> -->
                </li>
            </ul>
        </nav>
    </div>
</header>