<header class="flex--style" id="header">
    <img class="header__logo" src="../img/site_assets/Logo.png" alt="logo">
    <div class="header__button--menu">
        <div class="button--inner"></div>
    </div>
    <div class="header__menu flex--style">
        <nav>
            <ul class="font__style--menu">
                <li id="projectButton">Projects</li>
                <li id="pricingButton">Pricing</li>
                <li id="featuresButton">Features</li>
                <li id="FAQButton">FAQ</li>
                <li class="turnOn">Let's talk</li>
            </ul>
        </nav>
    </div>
</header>