<section class="content flex--style">
    <div class="content--headline">
        <p class="scroll font__style--headline" data-aos="fade-up" data-aos-delay="1000" data-aos-anchor=".hero">
            Explore more <span><img src="../img/site_assets/GoDown.svg" alt="scroll"></span>
        </p>
        <p class="font__style--content" data-aos="fade-up" data-aos-delay="1500" data-aos-anchor=".hero">
            If you want to design a product using our top design talent, this is the plan for you. You only pay for the
            actual design with no setup and management fees getting 20% off our per-hour rates.
        </p>
    </div>
    <div class="content--main">
        <div class="content__project" data-aos="content--box" data-aos-offset="300">
            <div class="img--box"><img src="./img/site_assets/content01.svg" alt="content01"></div>
            <h4 class="font__style--headline">Start a project in hours</h4>
            <p class="font__style--content02">
                Our hiring cycle is quick. Once you reviewed our best candidates, we can start
                immediately.</p>
        </div>
        <div class="content__project" data-aos="content--box" data-aos-delay="200" data-aos-offset="300">
            <div class="img--box"><img src="./img/site_assets/content02.svg" alt="content02"></div>
            <h4 class="font__style--headline">Hire top design talent</h4>
            <p class="font__style--content02">
                We have very specific, unique skill sets to create amazing product design from
                start to finish.</p>
        </div>
        <div class="content__project" data-aos="content--box" data-aos-delay="500" data-aos-offset="300">
            <div class="img--box"><img src="./img/site_assets/content03.svg" alt="content03"></div>
            <h4 class="font__style--headline">Cut your overhead costs</h4>
            <p class="font__style--content02">
                Office rent, work station, bonus pay – all these overhead costs are on us. You
                only pay for design.</p>
        </div>
        <div class="content__project" data-aos="content--box" data-aos-delay="700">
            <div class="img--box"><img src="./img/site_assets/content04.svg" alt="content04"></div>
            <h4 class="font__style--headline">Gain full control</h4>
            <p class="font__style--content02">
                By hiring a designer at UIaaS, you get a remote team member who you're in
                complete control of.</p>
        </div>
        <div class="content__project" data-aos="content--box" data-aos-delay="900">
            <div class="img--box"><img src="./img/site_assets/content05.svg" alt="content05"></div>
            <h4 class="font__style--headline">Talk to designers directly</h4>
            <p class="font__style--content02">
                We don't put the project manager in the middle and let our clients and
                designers directly talk to each other.</p>
        </div>
        <div class="content__project" data-aos="content--box" data-aos-delay="1100">
            <div class="img--box"><img src="./img/site_assets/content06.svg" alt="content06"></div>
            <h4 class="font__style--headline">Benefit from a team effort</h4>
            <p class="font__style--content02">
                We're a team, not freelancers. Every designer collaborates with the team to
                get feedback and improve.</p>
        </div>
    </div>
</section>