<section class="contact">
    <div class="contact__content--headline">
        <h1 class="font__style--project">
            Let’s talk
        </h1>
        <p class="font__style--content02">
            Fill in our short form. <br>
            It will only take a minute.
        </p>
    </div>

    <form>
        <div class="formfield">
            <label class="font__style--content02">Full name</label>
            <input type="text" placeholder="Your name" required>
        </div>
        <div class="formfield">
            <label class="font__style--content02">Company</label>
            <input type="text" placeholder="Your company" required>
        </div>
        <div class="formfield">
            <label class="font__style--content02">Email</label>
            <input type="text" placeholder="Your email" required>
        </div>
        <div class="formfield">
            <label class="font__style--content02">How did you hear about us ?</label>
            <select>
                <option>
                    Behance
                </option>
            </select>
        </div>
        <div class="formfield">
            <label class="font__style--content02">Email</label>
            <textarea required
                placeholder="Tell us about your product and your nearest plans on the design engagement "></textarea>
        </div>
        <input class="form--button" type="submit" value="Send">
    </form>
</section>