<section class="FAQ" id="FAQ">
    <div class="FAQ--inner">
        <div class="FAQ__content--headline">
            <h1 class="font__style--headline">
                Frequently <br>
                Asked Questions
            </h1>
            <p class="font__style--content02">
                If you have questions that are not listed here, send them to us via email.
            </p>
        </div>
        <div class="FAQ__content--box">
            <label>
                <input type="checkbox">
                <div class="content--title flex--style">
                    <img src="./img/site_assets/arrowright.svg" alt="arrowright">
                    <p class="font__style--content">
                        Do you work with freelancers or have an in-house team?
                    </p>
                    <p class="font__style--content02">
                        We don't work with freelancers. All our designers are hired in‑house.
                    </p>
                </div>
            </label>
        </div>
        <div class="FAQ__content--box">
            <label>
                <input type="checkbox">
                <div class="content--title flex--style">
                    <img src="./img/site_assets/arrowright.svg" alt="arrowright">
                    <p class="font__style--content">
                        How do you hire designers?
                    </p>
                    <p class="font__style--content02">
                        We hire designers with web design experience. They all have amazing portfolios and social skills
                        that allow them to work productively in a team. <br> <br>
                        We only hire people with a good knowledge of spoken English and a desire to learn. Once hired,
                        new
                        designers go through our training program which teaches them new skills and approaches in SaaS
                        app
                        design. They can start working on a project only after they complete our monthly training. <br>
                        <br>
                        During project development, designers collaborate with one another, get their works reviewed by
                        peers, brainstorm new ideas, and help each other solve problems and create better solutions.
                    </p>
                </div>
            </label>
        </div>
        <div class="FAQ__content--box">
            <label>
                <input type="checkbox">
                <div class="content--title flex--style">
                    <img src="./img/site_assets/arrowright.svg" alt="arrowright">
                    <p class="font__style--content">
                        How do you manage time zone differences?
                    </p>
                    <p class="font__style--content02">
                        We adjust our schedules to our client's time zone as much as we can. Our work hours can extend
                        from
                        8 am to 8 pm EEST. We do our best to find overlaps and run productive team meetings even if our
                        client is located in Australia.
                    </p>
                </div>
            </label>
        </div>
        <div class="FAQ__content--box">
            <label>
                <input type="checkbox">
                <div class="content--title flex--style">
                    <img src="./img/site_assets/arrowright.svg" alt="arrowright">
                    <p class="font__style--content">
                        Where can I see your designer portfolio?
                    </p>
                    <p class="font__style--content02">
                        You can find our works on this website, as well as on Dribbble and Behance.
                    </p>
                </div>
            </label>
        </div>
        <div class="FAQ__content--box">
            <label>
                <input type="checkbox">
                <div class="content--title flex--style">
                    <img src="./img/site_assets/arrowright.svg" alt="arrowright">
                    <p class="font__style--content">
                        Do I pay extra for more people?
                    </p>
                    <p class="font__style--content02">
                        Our design price is defined by the number of hours we need to make it. <br><br>
                        More designers equal more hours. So no, you don't pay extra for more people. You pay more for
                        more
                        hours.
                    </p>
                </div>
            </label>
        </div>
        <div class="FAQ__content--box">
            <label>
                <input type="checkbox">
                <div class="content--title flex--style">
                    <img src="./img/site_assets/arrowright.svg" alt="arrowright">
                    <p class="font__style--content">
                        Can I cancel my project at any time?
                    </p>
                    <p class="font__style--content02">
                        Sure, but do let us know about it beforehand. If you have a monthly subscription, let us know
                        that
                        you want to cancel your project a month before that. If you have weekly sprints, give us a
                        cancellation notice a week before.
                    </p>
                </div>
            </label>
        </div>
    </div>
</section>