<section class="features" id="features">
    <div class="features--inner">
        <h1 class="font__style--project">
            Our best features
        </h1>
        <div class="features--title flex--style">
            <div class="title01 font__style--content02">What you get </div>

            <div class="title02">
                <img src="./img/site_assets/Logo02.svg  " alt="Logo02">
                <p class="font__style--content02">Outsourcing</p>
                <p class="font__style--content02">Freelance</p>
            </div>
        </div>
        <div class="features__content">
            <div class="features__content--item">
                <div class="content--box font__style--content02">
                    The best design talent
                </div>
                <div class="content--review flex--style">
                    <img src="./img/site_assets/yes.svg" alt="yes">
                    <img src="./img/site_assets/no.svg" alt="no">
                    <img src="./img/site_assets/no.svg" alt="no">
                </div>
            </div>
            <div class="features__content--item">
                <div class="content--box font__style--content02">
                    It takes days from project request to start
                </div>
                <div class="content--review flex--style">
                    <img src="./img/site_assets/yes.svg" alt="yes">
                    <img src="./img/site_assets/no.svg" alt="no">
                    <img src="./img/site_assets/yes.svg" alt="yes">
                </div>
            </div>
            <div class="features__content--item">
                <div class="content--box font__style--content02">
                    Direct access to designers
                </div>
                <div class="content--review flex--style">
                    <img src="./img/site_assets/yes.svg" alt="yes">
                    <img src="./img/site_assets/no.svg" alt="no">
                    <img src="./img/site_assets/yes.svg" alt="yes">
                </div>
            </div>
            <div class="features__content--item">
                <div class="content--box font__style--content02">
                    Team scaling on demand
                </div>
                <div class="content--review flex--style">
                    <img src="./img/site_assets/yes.svg" alt="yes">
                    <img src="./img/site_assets/yes.svg" alt="yes">
                    <img src="./img/site_assets/no.svg" alt="no">
                </div>
            </div>
            <div class="features__content--item">
                <div class="content--box font__style--content02">
                    Dedicated account manager
                </div>
                <div class="content--review flex--style">
                    <img src="./img/site_assets/yes.svg" alt="yes">
                    <img src="./img/site_assets/yes.svg" alt="yes">
                    <img src="./img/site_assets/no.svg" alt="no">
                </div>
            </div>
        </div>
    </div>
</section>