<section class="pricing">
    <div class="pricing__headline">
        <h1 class="font__style--project">
            Pricing
        </h1>
        <p class="font__style--content02">
            Get the power, control, and flexibility you need to design your product. Hire
            UIaaS designers for long or short-term projects.
        </p>
    </div>
    <div class="pricing__content--box pricing--box__save">
        <div class="box__save font__style--content02 flex--style">
            SAVE 20%
        </div>
        <div class="box__headline">
            <h4 class="font__style--headline">
                Monthly <br>
                Subscription
            </h4>
            <p class="font__style--content02">
                For <span>ongoing</span> product design.
            </p>
        </div>
        <div class="box__content">
            <div class="item">
                <p class="font__style--content02">
                    <span><img src="./img/site_assets/agree.svg" alt=""></span>
                    Pay per month
                </p>
            </div>
            <div class="item">
                <p class="font__style--content02">
                    <span><img src="./img/site_assets/agree.svg" alt=""></span>
                    No setup fees
                </p>
            </div>
            <div class="item">
                <p class="font__style--content02">
                    <span><img src="./img/site_assets/agree.svg" alt=""></span>
                    No project management fees
                </p>
            </div>
        </div>
        <div class="box__button .font__style--content02">
            Get Started
        </div>
    </div>

    <div class="pricing__content--box ">
        <div class="box__headline">
            <h4 class="font__style--headline">
                Weekly Sprint
            </h4>
            <p class="font__style--content02">
                For <span> part-time</span> design work.
            </p>
        </div>
        <div class="box__content">
            <div class="item">
                <p class="font__style--content02">
                    <span><img src="./img/site_assets/agree.svg" alt=""></span>
                    Pay per week
                </p>
            </div>
            <div class="item">
                <p class="font__style--content02">
                    <span><img src="./img/site_assets/agree.svg" alt=""></span>
                    No setup fees
                </p>
            </div>
            <div class="item">
                <p class="font__style--content02">
                    <span><img src="./img/site_assets/agree.svg" alt=""></span>
                    No project management fees
                </p>
            </div>
        </div>
        <div class="box__button .font__style--content02">
            Get Started
        </div>
    </div>

    <div class="pricing__content--box ">
        <div class="box__headline">
            <h4 class="font__style--headline">
                Weekly Sprint
            </h4>
            <p class="font__style--content02">
                For <span> part-time</span> design work.
            </p>
        </div>
        <div class="box__content">
            <div class="item">
                <p class="font__style--content02 border--content">
                    <span><img src="./img/site_assets/agree.svg" alt=""></span>
                    Pay per week
                </p>
                <div class="item--content font__style--content02">
                    <img src="./img/site_assets/Rectangle 50.svg" alt="Rectangle">
                    100 hours minimum.
                </div>
            </div>
            <div class="item">
                <p class="font__style--content02">
                    <span><img src="./img/site_assets/agree.svg" alt=""></span>
                    No project management fees
                </p>
            </div>
        </div>
        <div class="box__button .font__style--content02">
            Get Started
        </div>
    </div>
</section>