<section class="project">
    <div class="project__content--headline">
        <h1 class="font__style--project">
            Take a look at our recent design projects
        </h1>

    </div>
    <div class="project__box">
        <div class="project__content">
            <img src="./img/site_images/project01.png" alt="project01">
            <p class="font__style--headline">The New Gym - <span class="font__style--content02">
                    Keep
                    track of your routines and membership better. </span>
            </p>
        </div>
        <div class="project__content">
            <img src="./img/site_images/project02.png" alt="project02">
            <p class="font__style--headline">The Tour - <span class="font__style--content02">
                    Private trust
                    management and trading platform.</span>
            </p>
        </div>
    </div>

    <div class="project__box">
        <div class="project__content">
            <img src="./img/site_images/project03.png" alt="project03">
            <p class="font__style--headline">The Tour - <span class="font__style--content02">
                    The Tour - Private trust
                    management and trading platform application for your business.</span>
            </p>
        </div>
        <div class="project__content">
            <img src="./img/site_images/project04.png" alt="project04">
            <p class="font__style--headline">The Tour - <span class="font__style--content02">
                    Private trust management and
                    trading platform.</span>
            </p>
        </div>
    </div>
</section>