<section class="project" id="project" data-aos="project--effect" data-aos-anchor=".pricing" data-aos-offset="300"
    data-aos-once="false">
    <div class="project--inner">
        <div class="project__content--headline">
            <h1 class="font__style--project">
                Take a look at our recent design projects
            </h1>

        </div>
        <div class="project__box">
            <div class="project__content">
                <div class="project__content--img" data-aos="project__effect--img" data-aos-offset="300">
                    <img src="./img/site_images/project01.png" alt="project01">
                </div>
                <p class="font__style--headline">
                    <span data-aos="project--effect--text" data-aos-offset="-100">
                        The New Gym - <span class="font__style--content02">Keep track of your routines and membership
                            better. </span>
                    </span>
                </p>
            </div>
            <div class="project__content">
                <div class="project__content--img" data-aos="project__effect--img" data-aos-offset="300"
                    data-aos-delay="2000">
                    <img src="./img/site_images/project02.png" alt="project02">
                </div>
                <p class="font__style--headline">
                    <span data-aos="project--effect--text" data-aos-offset="-100">
                        The Tour - <span class="font__style--content02">
                            Private trust
                            management and trading platform.</span>
                    </span>
                </p>
            </div>
        </div>

        <div class="project__box">
            <div class="project__content">
                <div class="project__content--img" data-aos="project__effect--img" data-aos-offset="300">
                    <img src="./img/site_images/project03.png" alt="project03">
                </div>
                <p class="font__style--headline">
                    <span data-aos="project--effect--text" data-aos-offset="-100">
                        The Tour - <span class="font__style--content02">
                            The Tour - Private trust
                            management and trading platform application for your business.</span>
                    </span>
                </p>
            </div>
            <div class="project__content">
                <div class="project__content--img" data-aos="project__effect--img" data-aos-offset="500"
                    data-aos-delay="500">
                    <img src="./img/site_images/project04.png" alt="project04">
                </div>
                <p class="font__style--headline">
                    <span data-aos="project--effect--text" data-aos-offset="-100">
                        The Tour - <span class="font__style--content02">
                            Private trust management and
                            trading platform.</span>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>