.FAQ {
  width: 100%;
  max-width: unset;
  padding: 80px 20px;
  background: url("../img/site_images/BG3.png") center/contain no-repeat;

  .FAQ--inner {
    max-width: 740px;
    margin: auto;
  }

  .FAQ__content--headline {
    margin-bottom: 80px;
    .font__style--headline {
      text-align: center;
      line-height: 30px;
      margin-bottom: -10px;
    }
    .font__style--content02 {
      text-align: center;
    }
  }
  .FAQ__content--box {
    margin-bottom: 50px;

    input {
      display: none;
    }

    &:nth-of-type(3) {
      .content--title {
        @media (min-width: 375px) {
          max-height: 65px;
        }
      }
    }

    .content--title {
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      position: relative;
      padding-left: 30px;
      overflow: hidden;
      max-height: 100px;
      transition: max-height 1s ease;

      &::before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #292929;
      }

      img {
        position: absolute;
        left: 0;
        top: 8px;
        transition: transform 0.5s ease;
      }

      p {
        margin: 0;
        font-weight: 700;

        &:nth-of-type(2) {
          margin-top: 30px;
          padding-bottom: 30px;
          font-weight: 400;
          color: #a1a0a3;
        }
      }
    }
  }

  .FAQ__content--box {
    input:checked + .content--title {
      max-height: 490px;

      img {
        transform: rotate(90deg);
      }
    }
  }

  @media (min-width: 425px) {
    .FAQ__content--box {
      &:nth-of-type(6) .content--title {
        max-height: 65px;
      }
    }
  }

  @media (min-width: 768px) {
    .FAQ__content--box {
      &:nth-of-type(2) .content--title {
        max-height: 65px;
      }

      .content--title {
        max-height: 65px;
      }
    }
  }

  @media (min-width: 1024px) {
    .FAQ__content--headline {
      .font__style--headline {
        font-size: 64px;
        line-height: 76px;
      }

      .font__style--content02 {
        font-size: 24px;
        line-height: 36px;
        max-width: 500px;
        margin: auto;
        margin-top: 20px;
      }
    }
  }
}
