.hero {
  width: 100%;
  height: 80vh;
  justify-content: flex-start !important;
  align-items: center !important;
  background: url("../img/site_images/BGPattern.png") center/cover no-repeat;

  .font__style--hero {
    max-width: 500px;

    span {
      overflow: hidden;
      max-height: 100px;
      display: inline-flex;
    }
  }

  @media (min-width: 1024px) {
    .font__style--hero {
      max-width: 800px;
    }
  }
}
