.pricing {
  width: 100%;
  max-width: unset !important;
  padding: 100px 20px;
  padding-bottom: 30px;
  padding-top: 50px;
  position: relative;
  background: var(--bgYellowLight);
  transition: 0.3s ease;
  transition-property: background, color;
  // background: var(--darklighter);

  .background--pricing {
    position: absolute;
    left: 0;
    top: -200vh;
    width: 100%;
    height: 200vh;
    z-index: -1;
  }

  .font__style--project,
  .font__style--content02,
  .font__style--headline {
    color: inherit;
  }

  .pricing__headline {
    text-align: center;
    margin-bottom: 40px;
    .font__style--project {
      margin-bottom: 5px;
    }

    .font__style--content02 {
      max-width: 500px;
      margin: auto;
    }
  }

  .pricing__content--box {
    width: 100%;
    max-width: 370px;
    padding: 64px 32px 32px 32px;
    margin: auto;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease;
    transition-property: box-shadow, transform;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 12px 16px rgba(92, 90, 81, 0.12);
    }

    .box__headline {
      margin-bottom: 50px;

      .font__style--headline {
        margin-bottom: -10px;
        margin-top: 0;
        line-height: 32px;
      }

      .font__style--content02 {
        color: var(--colorGrayLight);

        span {
          font-weight: 600;
        }
      }
    }

    .box__content {
      margin-bottom: 80px;
      .font__style--content02 {
        line-height: 24px;
        display: inline;
        position: relative;
      }

      .item {
        position: relative;

        .item--content {
          min-width: 180px;
          position: absolute;
          top: 30px;
          left: -25px;
          background: #000;
          padding: 12px 16px;
          border-radius: 8px;
          color: #fff;
          text-align: center;
          z-index: 1;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.5s ease;

          img {
            position: absolute;
            top: -5px;
            left: calc(50% - 12px / 2);
          }
        }

        .border--content {
          cursor: pointer;

          &::before {
            content: "";
            position: absolute;
            left: 15px;
            bottom: -3px;
            width: calc(100% - 15px);
            border-bottom: 1px dashed var(--colorGrayLight);
          }
        }
        &:hover {
          .item--content {
            opacity: 1;
          }
        }
      }
    }

    .box__button {
      width: 100%;
      font-weight: 700;
      font-size: 15px;
      padding: 16px 0;
      border-radius: 8px;
      cursor: pointer;
      text-align: center;
      display: inline-block;
      color: #b485ff;
      border: 2px solid #b485ff;
      transition: 0.5s ease;
      transition-property: color, background;

      &:hover {
        color: #000;
        background: #b485ff;
      }

      @media (min-width: 375px) {
        font-size: 16px;
      }
    }
  }

  .pricing--box__save {
    border: 2px solid var(--colorPurple);
    .box__save {
      position: absolute;
      right: -40px;
      top: 12px;
      font-size: 11px;
      line-height: 18px;
      font-weight: 700;
      color: #fff;
      width: 140px;
      padding: 10px 0;
      background: rgba(123, 73, 204, 0.5);
      transform: rotate(45deg);
    }

    .box__content {
      margin-bottom: 50px;
    }

    .box__button {
      color: #000;
      background: #b485ff;

      &:hover {
        color: #b485ff;
        background: #fff;
      }
    }
  }

  @media (min-width: 1024px) {
    .pricing__headline {
      margin-bottom: 80px;
      .font__style--content02 {
        font-size: 24px;
        line-height: 36px;
        max-width: 800px;
      }
    }

    .pricing__content {
      width: 100%;
      max-width: 1440px;
      margin: auto;
      display: grid;
      grid-template-areas: " c2 c1 c3 ";
      align-self: center;
      justify-self: center;

      .pricing__content--box {
        width: auto;
        margin: 0;
        justify-self: center;
        &:nth-of-type(1) {
          grid-area: c1;
          margin: 0 20px;
        }
      }
    }
  }

  @media (min-width: 1280px) {
    .pricing__content .pricing__content--box {
      min-width: 365px;
    }
  }

  @media (min-width: 1440px) {
    .pricing__content .pricing__content--box {
      width: 100%;
    }
  }
}
