.project {
  width: 100%;
  padding-bottom: 50px;
  max-width: unset;
  flex-direction: column;
  background: url("../img/site_images/BG2.png") top center/contain no-repeat;
  background-position-y: 100px;
  transition: 0.3s ease;
  transition-property: background;

  .project--inner {
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }

  .font__style--project {
    max-width: 300px;
    color: inherit;
  }

  .viewMore {
    a {
      cursor: pointer;
      color: var(--colorPurple) !important;
      img {
        margin-bottom: -10px;
      }
    }
  }

  .project__content {
    margin-bottom: 60px;

    .project__content--img {
      width: 100%;
      overflow: hidden;
      border-radius: 8px;

      img {
        width: 100%;
        transition: transform 1s ease;

        &:hover {
          transform: scale(1.2) !important;
        }
      }
    }

    .font__style--headline {
      line-height: 15px;
      margin-top: 15px;
      padding-top: 25px;
      height: 75px;
      color: inherit;
      overflow: hidden;
    }
    .font__style--content02 {
      color: var(--colorGray);
    }
  }

  @media (min-width: 768px) {
    background: url("../img/site_images/BG2.png") top center/contain no-repeat;
    background-position-y: 200px;

    .project--inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
    }

    .project__content--headline {
      width: 100%;
      .font__style--project {
        max-width: 400px;
      }
    }

    .project__box {
      width: 48%;

      &:nth-of-type(3) {
        padding-top: 100px;
      }
      .project__content {
        text-align: center;

        p {
          width: 80%;
          margin: auto;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    padding-bottom: 0;
    .project__content--headline .font__style--project {
      max-width: 800px;
    }

    .project__box {
      &:nth-of-type(2) {
        margin-right: 0;
      }
    }
  }
}
