.project {
  width: 100%;
  max-width: unset;
  flex-direction: column;

  .project--inner {
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }

  .font__style--project {
    max-width: 300px;
  }

  .project__content {
    margin-bottom: 60px;
    img {
      width: 100%;
    }

    .project__content--img {
      width: 100%;
      overflow: hidden;
      border-radius: 8px;

      img {
        width: 100%;
      }
    }

    .font__style--headline {
      line-height: 15px;
      margin-top: 15px;
      height: 45px;
      color: inherit;
      overflow: hidden;
    }
    .font__style--content02 {
      color: var(--colorGray);
    }
  }

  @media (min-width: 768px) {
    .project--inner {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .project__content--headline {
      width: 100%;
      .font__style--project {
        max-width: 400px;
      }
    }

    .project__box {
      width: 50%;

      &:nth-of-type(3) {
        padding-top: 100px;
      }
      .project__content {
        text-align: center;

        p {
          width: 80%;
          margin: auto;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .project__content--headline .font__style--project {
      max-width: 800px;
    }
  }
}
