.font__style--menu {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

.font__style--hero {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: #fff;
}

.font__style--content {
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  color: #fff;
}

.font__style--content02 {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
}

.font__style--headline {
  font-size: 23px;
  line-height: 34px;
  font-weight: 700;
  color: #fff;
}

.font__style--project {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: #fff;
}

.flex--style {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-aos="hero__effect--text"] {
  transition-property: transform, opacity, background, color;
  transition: 0.3s ease !important;

  span {
    span {
      transform: translateY(100px);
      transition: transform 1.5s ease;
    }
  }

  &.aos-animate {
    span {
      span {
        transform: translateY(0);
      }
    }
  }
}

[data-aos="project__effect--img"] {
  @media (min-width: 768px) {
    transition-property: transform, opacity, background, color;
    transition: 0.3s ease !important;

    img {
      overflow: hidden;
      transform: scale(1.25);
      transition: transform 1s ease;
    }

    &.aos-animate {
      img {
        transform: scale(1);
      }
    }
  }
}

// [data-aos="project--effect"] {
//   background: #1f1f1f;
//   color: #fff;
//   transition-property: transform, opacity, background, color;
//   transition: 0.3s ease !important;

//   &.aos-animate {
//     color: #000;
//     background: #f5f2e1;
//   }
// }

[data-aos="project--effect--text"] {
  @media (min-width: 768px) {
    margin-top: 100px;
    display: inline-block;
    transition-property: margin-top;
    transition: 1s ease !important;

    &.aos-animate {
      margin-top: 0;
    }
  }
}

// [data-aos="pricing--effect"] {
//   background: #1f1f1f;
//   color: #fff;
//   transition-property: transform, opacity, background, color;
//   transition: 0.3s ease !important;

//   .background--pricing {
//     transition: inherit;
//     background: #1f1f1f;
//   }

//   &.aos-animate {
//     color: #000;
//     background: #f5f2e1;

//     .background--pricing {
//       background: #f5f2e1;
//     }
//   }
// }

.background--yellow {
  background: var(--bgYellowLight) !important;
  color: #000;
}

.background--dark {
  background: var(--darklighter) !important;
  color: #fff;
}

@media (min-width: 375px) {
  .font__style--content02 {
    font-size: 16px;
    line-height: 22px;
  }

  .font__style--headline {
    font-size: 24px;
    line-height: 36px;
  }
}

@media (min-width: 768px) {
  [data-aos="content--box"] {
    transform: scale(0);
    opacity: 0;
    transition-property: transform, opacity;

    &.aos-animate {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@media (min-width: 1024px) {
  .font__style--hero {
    font-size: 80px;
    line-height: 96px;
    font-weight: 600;
  }

  .font__style--content {
    font-size: 24px;
    line-height: 36px;
  }

  .font__style--project {
    font-size: 64px;
    line-height: 76px;
  }
}
