.font__style--menu {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

.font__style--hero {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: #fff;
}

.font__style--content {
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  color: #fff;
}

.font__style--headline {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
}

.font__style--content02 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}

.font__style--project {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: #fff;
}

.flex--style {
  display: flex;
  align-items: center;
  justify-content: center;
}
