{% extends 'templates/_layout.html' %}
{% block main %}
<section class="hero flex--style">
    <h1 class="font__style--hero" data-aos="hero__effect--text">

        <span><span>Save</span></span>
        <span><span>time</span></span>
        <span> <span>&</span></span>
        <span><span>effort</span></span>
        <span><span>✨</span></span>
        <span><span>of</span></span>
        <span><span>projects</span></span>
        <span><span>with</span></span>
        <span><span>our</span></span>
        <span><span>UI</span></span>
        <span><span>Subscription</span></span>
        <span><span>plan</span></span>

    </h1>
</section>
{% include './templates/content.html' %}
{% include './templates/project.html' %}
{% include './templates/pricing.html' %}
{% include './templates/features.html' %}
{% include './templates/FAQ.html' %}
{% include './templates/contact.html' %}

{% endblock %}