@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap");
@import "./style/footer.scss";
@import "./style/header.scss";
@import "./style/hero.scss";
@import "./style/content.scss";
@import "./style/style.scss";
@import "./style/project.scss";
@import "./style/pricing.scss";
@import "./style/features.scss";
@import "./style/FAQ.scss";
@import "./style/contact.scss";

* {
  box-sizing: border-box;
}

ul,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arimo";
  background: var(--darklighter);
}

a {
  text-decoration: none;
}

section {
  padding: 0 20px;
  max-width: 1440px;
  margin: auto;

  @media (min-width: 375px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 1024px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (min-width: 1440px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

:root {
  --colorGray: #a1a0a3;
  --colorGrayLight: #a3a3a3;
  --bgYellowLight: #f5f2e1;
  --colorPurple: #bb6bd9;
  --darklighter: #1f1f1f;
}
