{% extends 'templates/_layout.html' %}
{% block main %}
<section class="hero flex--style">
    <h1 class="font__style--hero">
        Save time effort ✨
        of projects with our UI Subscription plan
    </h1>
</section>
<section class="content flex--style">
    <p class="font__style--content">
        If you want to design a product using our top design talent, this is the plan for you. You only pay for the
        actual design with no setup and management fees getting 20% off our per-hour rates.
    </p>
</section>
{% endblock %}